
$text-primary: #3E2100;
$accent: #8E2F18;
$accent_text: #FFF6F3;
$dark-background: #3E2100;

$color-primary: #546e7a;
$color-primary-light: #819ca9;
$color-primary-dark: #29434e;

$color-secondary: #ff9800;
$color-secondary-light: #ffc947;
$color-secondary-dark: #ffc947;

$background: whitesmoke;
$background-darker: lightgray;